*{
    margin: 0;
    padding: 0; 
}

.header{
    background-color: #f5e9e1dc;
    background-image:url(./Images/bg.webp);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 580px 400px;
    
}


                                                             /* Header And Navigation Styles */
 nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
 }
.nav_title{
    font-weight: 800px;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}

.text_primary{
    color: #FF7043;
}

.btn_primary{
    height: 64px;
    border-radius: 5px;
    border: none;
    background: #FF7043;
    color: white;
    font-size: 20px;
    padding: 18px 35px;

}


                                                                  /* Banner Styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0px 200px;
    margin-left: 80px;
}



.banner_title{
    font-weight: 700px;
    font-size: 85px;
}

.baner_subtitle{
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner_description{
    margin-top: 20px;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}
                                                                /* Main Section Styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}


                                                                /* About Section Styles */
.about_me{

    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;

}

.section_title{
    text-align: center;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 30px;
}


.section_description{
    color: #78909C;
    font-size: 18px;
    margin-bottom: 30px;

}

.about_info_container{
    display: flex;
    justify-content: space-around;
}

.about_info .info_title{
    font-size: 20px;
    color: red;
}

.info_descriotion{
    font-weight: 700px;
    font-size: 20px;
}


                                                                    /* What i do styles */

.what_i_do{
    margin-top: 130px;

}

.skills_container{
    display: flex;
    gap: 24px;
}

.Skill_title{
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill_description{
    color: #757575;
}

.skills{
    background: #FFFFFF;
    box-shadow: 0 6px 50px rgb(0, 0, 0, 0.6);
    border: 5px;
    padding: 40px;
}

                                                                   /* Resume Styles */
/* .section_title{
    margin-top: 50px;
} */

.resume_title{
    margin-top: 30px;
}

.resume .section_title{
    margin-top: 50px;
}


.resume_content{
    display: flex;
    gap: 24px;
}

.resume_item{
    margin-top: 50px;
    margin-bottom: 30px;
}

.resume .title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}
.resume .subtitle{
   color: #757575;
   font-weight: 600px;
   font-size: 20px;
   margin-bottom: 20px;
}

.resume .Description{
    color: #757575;
}

